In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("ML_Dataset47/wtgroup.csv")
df.head(5)

                      Dt                                            message
0   11/01/23, 7:38:02 PM  Mujtaba Sk: Those who have registered for Bomb...
1   11/01/23, 7:30:24 PM             Mujtaba Sk: ‎You deleted this message.
2  11/01/23, 10:13:57 AM  Arbaz Jhunjhunwala: Fpj International Epaper-1...
3   10/01/23, 1:19:44 PM  Shweta Office Rj Colg: M.SC. DSAI PART-1.xlsx ...
4   10/01/23, 9:51:41 AM  Arbaz Jhunjhunwala: Fpj International Epaper-1...

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
Dt         7 non-null object
message    7 non-null object
dtypes: object(2)
memory usage: 192.0+ bytes

In [5]:
df['Dt']=pd.to_datetime(df['Dt'])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
Dt         7 non-null datetime64[ns]
message    7 non-null object
dtypes: datetime64[ns](1), object(1)
memory usage: 192.0+ bytes

In [10]:
df['Dt'].dt.year

0    2023
1    2023
2    2023
3    2023
4    2023
5    2023
6    2023
Name: Dt, dtype: int64

In [11]:
df['Dt'].dt.weekofyear

0    44
1    44
2    44
3    39
4    39
5    35
6    35
Name: Dt, dtype: int64

In [12]:
df['Dt'].dt.time

0    19:38:02
1    19:30:24
2    10:13:57
3    13:19:44
4    09:51:41
5    16:18:01
6    13:14:01
Name: Dt, dtype: object

In [13]:
df['Dt'].dt.month

0    11
1    11
2    11
3    10
4    10
5     9
6     9
Name: Dt, dtype: int64

In [14]:
df['Dt'].dt.day

0    1
1    1
2    1
3    1
4    1
5    1
6    1
Name: Dt, dtype: int64