In [4]:
import pandas as pd 
import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv("Data/train_feasel.csv")
df.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

# Variance Thresholding

In [5]:
from sklearn.feature_selection import VarianceThreshold
vart=VarianceThreshold(threshold=0)
vart.fit(df)

VarianceThreshold(threshold=0)

In [6]:
vart.get_support()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False, False, False, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True, False, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False, False, False,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
       False, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False, False,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True, False,  True,  True,  True,
        True,  True, False,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True, False,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True, False,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [7]:
df.columns[vart.get_support()]

Index(['ID', 'var3', 'var15', 'imp_ent_var16_ult1', 'imp_op_var39_comer_ult1',
       'imp_op_var39_comer_ult3', 'imp_op_var40_comer_ult1',
       'imp_op_var40_comer_ult3', 'imp_op_var40_efect_ult1',
       'imp_op_var40_efect_ult3',
       ...
       'saldo_medio_var33_hace2', 'saldo_medio_var33_hace3',
       'saldo_medio_var33_ult1', 'saldo_medio_var33_ult3',
       'saldo_medio_var44_hace2', 'saldo_medio_var44_hace3',
       'saldo_medio_var44_ult1', 'saldo_medio_var44_ult3', 'var38', 'TARGET'],
      dtype='object', length=337)

# Feature selection using correlation

In [13]:
import matplotlib.pyplot as plt
%matplotlib inline

In [9]:
x=df.iloc[:,1:]
y=df.iloc[:,0]

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)
x_train.shape, x_test.shape

((53214, 370), (22806, 370))

In [11]:
x_train.corr()

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
var3,1.000000,-0.003769,0.001790,0.005309,0.006322,0.001540,0.001697,0.000536,0.000632,0.001301,...,0.000738,0.000553,0.000732,0.000770,0.000642,0.000465,0.000769,0.000805,0.000140,0.005672
var15,-0.003769,1.000000,0.042432,0.095696,0.101386,0.042572,0.045842,0.008120,0.009172,0.033432,...,0.027528,0.018402,0.028426,0.029238,0.031925,0.019212,0.034742,0.034995,0.004416,0.099938
imp_ent_var16_ult1,0.001790,0.042432,1.000000,0.042590,0.035779,0.013211,0.012599,-0.000342,0.000678,0.014719,...,-0.000910,-0.000684,-0.000888,-0.000931,0.003087,-0.000595,0.006117,0.008007,-0.000348,-0.001677
imp_op_var39_comer_ult1,0.005309,0.095696,0.042590,1.000000,0.889181,0.353187,0.304416,0.029921,0.051720,0.246994,...,0.023219,0.019279,0.018805,0.020868,0.010844,0.008638,0.013411,0.012702,0.009369,0.008450
imp_op_var39_comer_ult3,0.006322,0.101386,0.035779,0.889181,1.000000,0.323463,0.359130,0.025863,0.053657,0.239022,...,0.040765,0.035498,0.032185,0.035582,0.009269,0.007333,0.012048,0.011334,0.011030,0.002415
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
saldo_medio_var44_hace3,0.000465,0.019212,-0.000595,0.008638,0.007333,-0.000430,-0.000469,-0.000152,-0.000179,-0.000365,...,-0.000197,-0.000148,-0.000196,-0.000206,0.325992,1.000000,0.243201,0.218338,0.001874,-0.002294
saldo_medio_var44_ult1,0.000769,0.034742,0.006117,0.013411,0.012048,-0.000168,-0.000447,-0.000257,-0.000302,-0.000180,...,-0.000332,-0.000250,-0.000331,-0.000347,0.821524,0.243201,1.000000,0.968123,0.003435,-0.003711
saldo_medio_var44_ult3,0.000805,0.034995,0.008007,0.012702,0.011334,-0.000296,-0.000542,-0.000269,-0.000316,-0.000282,...,-0.000348,-0.000262,-0.000346,-0.000364,0.711449,0.218338,0.968123,1.000000,0.003031,-0.003820
var38,0.000140,0.004416,-0.000348,0.009369,0.011030,0.007469,0.009783,-0.000493,0.000514,0.003672,...,0.004198,0.001489,0.004385,0.004383,0.002998,0.001874,0.003435,0.003031,1.000000,-0.017527
TARGET,0.005672,0.099938,-0.001677,0.008450,0.002415,0.005925,0.001931,0.022028,0.019634,0.004796,...,-0.003516,-0.002639,-0.003499,-0.003674,-0.003226,-0.002294,-0.003711,-0.003820,-0.017527,1.000000

In [ ]:
import seaborn as sns
plt.figure(figsize=(1,1))
cor=x_train.corr()
sns.heatmap(cor,annot=True,cmap=plt.cm.CMRmap_r)
plt.show()

In [ ]:
def correlation(dataset, threshold):
    col_corr = set()  # Set of all the names of correlated columns
    corr_matrix = dataset.corr()
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
            if abs(corr_matrix.iloc[i, j]) > threshold: # we are interested in absolute coeff value
                colname = corr_matrix.columns[i]  # getting the name of column
                col_corr.add(colname)
    return col_corr

In [ ]:
corr_f=correlation(x_train,0.7)
len(set(corr_f))

In [ ]:
corr_f

In [ ]:
x_train.drop(corr_f,axis=1)
x_test.drop(corr_f,axis=1)

# Chi-Square Test

In [ ]:
df.info()

In [ ]:
##['sex','embarked','alone','pclass','Survived']
df=df[['sex','embarked','alone','pclass','survived']]
df.head()

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le = LabelEncoder()

In [ ]:
df['embarked']=le.fit_transform(df['embarked'])
df['alone'] = le.fit_transform(df['alone'])
df['sex'] = le.fit_transform(df['sex'])

In [ ]:
df

In [ ]:
x = df.iloc[:,:-1]
y= df.iloc[:,-1]

In [ ]:
## Perform chi2 test
### chi2 returns 2 values
### Fscore and the pvalue
from sklearn.feature_selection import chi2
f_p_values=chi2(x,y)

In [ ]:
f_p_values

In [ ]:
import pandas as pd
p_values=pd.Series(f_p_values[0])
p_values.index=x.columns
p_values

In [ ]:
p_values.sort_index(ascending=False)